/* GEMERAL */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/* BOX*/

.container {
    width: 80%;
    margin: 10px auto;
}

.box {
    margin-top: 20px;
    width: 300px;
    height: 400px;
    display: inline-block;
    margin-left: 40px;
}

.imgbox {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    position: relative;
}

/* IMG */
.img {
    width: 100%;
    height: auto;
    display: block;
}

.img2 {
    width: 100%;
    height: auto;
    display: none;
}

 #cambioimg{
    float: left;
}

#cambioimg:hover .img {
    display: none;
}
#cambioimg:hover .img2 {
    display: block;
}

/* HEART */
.heart  {
    position: absolute;
    right: 0;
    top: 10px;
    width: 50px;
    font-size: 50px;
    background: #fff;
    padding: 10px;
}


/* box-information */

.imgbox .box-information {
    font-size: 18px;
    color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: 20px;
}

.box-information .discount {
    padding: 5px;
    background-color: #eb0037;
}

.box-information .sustainability{
    padding: 5px;
    background-color: #00875a;
}

/* TITLES */

.merch {
    font-size: 17px;
}

h3 {
    font-size:20px;
}

.price-red {
    color: #ff0000;
    font-size: 18px;
}

.old-price {
    text-decoration: line-through;
    font-size: 18px;
}